*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}
#main{
    height: 97%;
    width: 97%;
    border: 1px solid black;
    box-shadow: 0 2px 20px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* background-color: green; */
}
#heading{
    height: 15%;
    width: 100%;
    display: flex;
    /* background-color: gold; */
}
#pic{
    height: 100%;
    width: 15%;
    border-bottom: 2px solid brown;
    overflow: hidden;
    object-fit: cover;
    /* background-color: red; */
}
#pic img{
    height: 100%;
    width: 125%;
}
#title{
    height: 100%;
    width: 30%;
    /* background-color: teal; */
}
#logo{
    height: 100%;
    width: 55%;
    /* border-radius: 50%; */
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: thistle; */

}
#logo img{
    height: 100%;
    width: 20%;
    border-radius: 50%;
}
#govt{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    /* background-color: gainsboro; */

}
#title-name{
    height: 50%;
    width: 100%;
    /* border-bottom: 2px solid brown; */
    /* background-color: khaki; */
    
}
#div2-main{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: flex-start;

    /* background-color: darkcyan; */
}
#profile{
    height: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.642);
}
#pic-name{
    height: 35%;
    width: 90%;
    font-size: 25px;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    border-bottom: 2px solid brown;
    background-color: rgba(0, 0, 0, 0.317);
}
#name{
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick;
}
#pic-name i{
    font-size: 100px;

}
.options{
    height: 15%;
    width: 90%;
    font-size: 22px;
    color: aliceblue;
    margin-bottom: 1px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.308);
}
.options span{
    cursor: pointer;
}
#div3-main{
    height: 100%;
    width: 75%;
    box-shadow: 0 2px 20px rgb(0, 0, 0);
    background-color: white;
}
#dashboard{
    height: 8%;
    width: 100%;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px
;
    border-bottom: 2px solid brown;
    /* margin-left: 10px; */
    background-color: brown;
}
.votting-options{
    height: 46%;
    width: 100%;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: khaki; */
}
#votting-options-2{
    
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#cate{
    margin-left: 28px;
}
.categories{
    height: 70%;
    width: 28%;
    margin: 1px;
    color: white;
    transition: all 0.3s;


    background-color: mediumaquamarine;
}
.categories:hover{
    transform: scale(1.1);
}
.tick{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.031);
}
.tick i{
    font-size: 20px;
    padding-right: 10px;

}
.boxes-name{
    height: 70%;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(156, 146, 35); */
}
.boxes-name i{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.315);
}
.boxes-name span{
    font-size: 25px;
    color: white;
    padding-left: 15px;


}

.more-option{
    height: 16%;
    width: 100%;
    

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.113);
}
.more-option button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;

}
#note{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    height: 15%;
    width: 100%;
    color: red;
    background-color: rgba(0, 0, 255, 0.2);
}

